.cart_wrap {
  /* background-color: gold; */
}

h2.cart_title {
  margin-top: 80px;
  text-align: center;
  font-weight: 500;
}
.cart_inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

/* -------------------------------------------------------------------------- */
/*                               .cart_container                              */
/* -------------------------------------------------------------------------- */
.cart_container {
  /* background-color: skyblue; */
  margin-top: 44px;
  width: 742px;
}
.select_menu {
  /* background-color: orange; */
  padding: 16px 0;
}

.select_menu:last-child {
  border-top: 1px solid #eee;
}

.select_all {
  margin: 0 17px 0 8px;
  position: relative;
}

.select_all::after {
  content: "";
  width: 1px;
  height: 13px;
  background-color: #eee;
  position: absolute;
  top: 3px;
  right: -12px;
}

.select_delete {
  background-color: transparent;
  font-size: 16px;
}

/* -------------------------------------------------------------------------- */
/*                                  cart_list                                 */
/* -------------------------------------------------------------------------- */
.list_title {
  /* background-color: green; */
  padding: 14px 7px;
  display: flex;
  flex-direction: row;
}

.list_title:first-child {
  border-top: 1px solid #000;
}

.cold_storage {
  padding: 2px 0;
  flex-grow: 1;
  background: url(../assets/icons/cart/cold_storage.svg) no-repeat;
  background-size: inherit;
  padding-left: 30px;
}

.freezing_storage {
  padding: 2px 0;
  flex-grow: 1;
  background: url(../assets/icons/cart/feezing_storage.svg) no-repeat;
  background-size: inherit;
  background-position: left;
  padding-left: 38px;
  margin-left: -4px;
}

.list_title img {
  margin-right: 20px;
}

button.close_btn {
  background-color: transparent;
}

button.close_btn img {
  display: block;
  width: 15px;
  flex-grow: 0;
}

.product_list_box {
  padding: 20px 0;
}

.product_list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.product_img img {
  width: 60px;
  height: 78px;
  margin: 0 10px;
}

.product_name {
  font-weight: 600;
  width: 320px;
  /* outline: 2px solid red; */
}

.count_box {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  /* outline: 2px solid red; */
}

.minus_btn,
.plus_btn {
  padding: 10px 14px;
  background-color: transparent;
}

.count {
  padding: 3px 8px;
}

.product_price {
  width: 127px;
  text-align: right;
  font-weight: 600;
  /* outline: 2px solid red; */
}

.delete_btn {
  width: 30px;
  height: 30px;
  /* outline: 2px solid red; */
  background-color: transparent;
}

.count_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}
