/* pop_up */
.popup_container {
  background: black;
  width: 440px;
  /* height: 672px; */
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  box-shadow: 0px 8px 36px rgba(0, 0, 0, 0.2);
}
.popup_beauty {
  width: 100%;
  height: 586px;
  background: url(../assets/popup_beauty/popup_img.png) no-repeat 0 0 / cover;
}
.popup_container button {
  /* background: yellow; */
  width: 50%;
  height: 86px;
  font-size: 16px;
  color: var(--content);
  border-right: 1px solid var(--gray-100);
}


/* main_banner */
.swiper_main_banner{
  background: orange;
  min-width: 1050px;
  max-height: 370px;
  position: relative;
  overflow: hidden;
}
.swiper-slide img{
  width: 100%;
  height: 100%;
}
.main_banner_prev {
  width: 52px;
  height: 52px;
  background: url(../assets/icons/main/Arrow-main-banner.png) no-repeat;
}
.main_banner_next {
  width: 52px;
  height: 52px;
  background: url(../assets/icons/main/Arrow-main-banner.png) no-repeat;
  transform: scaleX(-1);
}
.main_banner_prev::after,
.main_banner_next::after {
  display: none;
}

/* main */
.page_main {
  position: relative;
}


/* 오늘의 상품 추천 */
.today_recommend_products {
  width: 1050px;
  padding: 40px 0;;
  margin: 0 auto;
}
.recommend_products_sub{
  font-size: 28px;
  font-weight: 700;
  padding: 12px 0;
  text-align: center;
}
.swiper_container {
  margin-top: 28px;
  position: relative;
}
.swiper_recommend_products{
  width: 1050px;
  height: 430px;
  overflow: hidden;
}
.recommend_products_wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  transition-property: transform;
  box-sizing: content-box;
}
.recommend_products_slide {
  flex-shrink: 0;
  width: 249px;
  height: 100%;
  position: relative;
  margin-right: 18px;
  transition-property: transform;
}
.product_img_container {
  overflow: hidden;
  position: relative;
  height: 320px;
}
.product_img_container img{
  position: absolute;
  /* inset: -100%; */
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: cover;
  transition: all 0.5s ease-in-out 0s;
}
.product_info {
  height: 90px;
}
.product_name{
  padding-top: 16px;
  font-size: 16px;
  color: #333333;
}
.product_price {
  padding-top: 8px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: #333333;
}
.sale_rate {
  display: inline-block;
  padding-top: 8px;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--accent-yellow);
  margin-right: 8px;
}
.recommend_products_prev {
  width: 52px;
  height: 52px;
  background: url(../assets/icons/main/Arrow-main-banner.png) no-repeat;
  position: absolute;
  top: 150px;
  left: -25px;
}
.recommend_products_next {
  width: 52px;
  height: 52px;
  background: url(../assets/icons/main/Arrow-main-banner.png) no-repeat;
  transform: scaleX(-1);
  position: absolute;
  top: 150px;
  right: -25px;
}
.recommend_products_prev::after,
.recommend_products_next::after {
  display: none;
}

/* sub_banner */
.sub_banner {
  width: 1050px;
  margin: 40px auto;
  height: 140px;
  background: url(../assets/banner/line-banner\ 1.png) no-repeat 0 0 / cover;
}

/* 최근 본 상품 */
.recent_products_container {
  width: 74px;
  position: absolute;
  top: 193px;
  right: 39px;
  border: 1px solid var(--gray-200);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 8px;
  gap: 8px;
}
.recent_products_title {
  font-size: 12px;
  font-weight: 600;
}
.recent_products_list {
  width: 40px;
  max-height: 130px;
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.recent_product {
  width: 100%;
  height: 51px;
}

.recent_products_prev {
  width: 18px;
  height: 18px;
  background: url(../assets/icons/main/arrow-small.png) no-repeat;
  order: -1;
}
.recent_products_next {
  width: 18px;
  height: 18px;
  background: url(../assets/icons/main/arrow-small.png) no-repeat;
  transform: scaleY(-1);
}
