:root{
  --popup_Width : 793px;
  --popup_height : 630px;
}


* {
  font-family: 'Pretendard';
}

.product-review-wrapper {
  /* background-color: aqua; */
  width: 1050px;
  margin: 0 auto;
}

.product-review-header {
  position: relative;
  margin-top: 56px;
  margin-bottom: 56px;
}

.write-btn {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background-color: #5F0080;
  width: 155px;
  height: 44px;
  border-radius: 4px;
}

.review-benefit {
  margin-top: 24px;
  font-weight: bold;
}

.review-benefit li{
  list-style-type: disc;
  margin-left: 20px;
  font-weight: 400;
  font-size: small;
}

.count-n-sort {
  position: relative;
}

.review-count {
  font-size: small;
  display: inline-block;
}

.sort-btns {
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  font-size: medium;
}

.view-by-recommend {
  font-weight: bold;
  
}

.view-by-recent {
  color: #A6A6A6;
}

.product-review-body {
  margin-top: 16px;
  border-top: 1px solid #000000;
  /* background-color: red; */
}


.notice-header {
  padding : 17px 20px;
  /* background-color: gold; */
  box-sizing: border-box;
  border-bottom: 1px solid #E1E1E1;
}

.notice-badge {
  background-color: #e1e1e1;
  font-size: small;
  margin-right: 20px;
  margin-left: 0PX;
  padding: 2px 8px;
  font-weight: bold;
  border-color: transparent;
  border-radius: 1px;
}

.notice-title {
  font-weight: bold;
  font-size: medium;
}

.notice-content {
  font-style: normal;
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;

  padding: 20px;
  gap: 40px;
  width: 1050px;
  height: 362px;
  border-bottom: 1px solid #E1E1E1;
  background: #F9F9F9;
  position: relative;
  box-sizing: border-box;
}

.question {
  width: 974px;
  height: 36px;
  font-style: normal;
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
  /* or 18px */

  /* content */
  color: #333333;
}

.answer {
  margin-top: 20px;
  width: 481px;
  height: 216px;
  /* Label/Small */
  font-style: normal;
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
  /* or 18px */

  /* content */
  color: #333333;
}

.written-date {
  width: 481px;
  height: 18px;

  /* Label/Small */
  font-style: normal;
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
  /* identical to box height, or 18px */

  /* gray/400 */
  color: #898989;
}

.question, .answer {
  position: relative;
  left: 36px;
}

.quest-icon, .ans-icon {
  position: absolute;
  left: 20px;
 
}

.ans-icon {
  top: 78px;
}

.is-best {
  font-style: normal;
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
  color: #FFFFFF;
  width: 32px;
  height: 18px;
  background-color: #BD76FF;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 1px;
  border: solid 1px transparent;
  
}

.membership-grade {
  width: 21px;
  height: 18px;
  background-color: white;
  color: #5F0080;
  font-style: normal;
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 1px;
  border: 1px solid #5F0080;
  margin-left: 8px;
  margin-right: 8px;
}
.product-review-content {
  font-size: 12.003px;
  padding: 20px;
  display: flex;
  gap: 82px;
  border-bottom: 1px solid #E1E1E1;
}


.user-info p {
  /* Label/Small */
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  /* identical to box height, or 18px */
}

.product-info {
  color:#898989;
  font-weight: 600;
  line-height: 150%;
}

.review-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin-left: 82px;
  width: 151px;
  height: 114px;
}

.written-review {
  margin-top: 20px;
  margin-bottom: 20px;
}

.prev-next-btn {
  margin-top: 16px;
  margin-bottom: 72px;
  height:32px;
  /* display: flex;
  align-items: center; */
  text-align: center;
}

.bg-arrow_prev {
  width: 56px; 
  height: 56px;                   
  background: url('../assets/icons/Icon/arrow_prev.png') center / 30px no-repeat;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  margin-right: 8px;
}

.bg-arrow_next {
  width: 56px; 
  height: 56px;
  background: url('../assets/icons/Icon/arrow_next.png') center / 30px no-repeat;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  margin-left: 8px;
}

.inquiry-table {
  width: 1050px;
  height:auto;

  padding : 0px 20px;
}

.inquiry-table td {
  height: 58px;
  text-align: center;
  color: #898989;
  font-weight: 600;
}

tbody td:first-child {
  text-align: left;
  color: #000;
}

tr {
  border-bottom : 1px solid #898989;
}

thead {
  width: 1050px;
  height: 58px;
  border-color: #000000;
  border-top: #000000 2px solid;
  border-bottom: #898989 1px soild;

}

td {
  
}

.title {
  width: 750px;
}

.author, .created-date, .status {
  width: 100px;
}
   
tbody .notice-badge::before {
  border-top: #000000 1px solid;
}

tr td.is-secret button {
  color: #898989;
}

.is-secret img{
  display: inline-block;
  margin-left: 20px;
}

td.is-answered {
  color: #5F0080;
  font-size: medium;
  font-weight: 600;
}

tr td button {
  font-weight: 600;
  font-size: medium;
}

.review-popup-wrapper {
  padding: 32px;
  width: 793px;
  height: 630px;
  border-radius: 16px;
  background-color: #FFFFFF;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 100;
}

.popup-modal {
  position: fixed;
  top:0;
  left:0;
  right:0;
  width:100%;
  height: 100%;
  content:'';
  background: rgba(0,0,0,0.5);
  z-index: 10;
  display: none;
}


.review-popup-header {
  position: relative;
  height: 60px;
}    

.icon-close {
  width: 30px;
  height: 30px;
  background: transparent url(../assets/icons/Icon/close_btn.svg) center / 12px no-repeat ;
  position: absolute;
  right: 0;
  top: 0;
}

.product-name {
  font-style: normal;
  font-weight: 600;
}
.review-popup-info {
  position: relative;
  width: 729px;
  height: 104px;
  border-bottom: 1px solid #E1E1E1;
  border-top: 1px solid #E1E1E1;
  box-sizing: border-box;
}

.review-popup-info img {
  width: 72px;
  height: 72px;
  position: absolute;
  top: 16px;
  left: 0;
}

.review-popup-info p {
  display: inline-block;
  margin-left: 96px;
  position: relative;
  top: 40px;
}
.review-title-input-wrapper label{
  margin-left: 8px;
  background-color: transparent;
  display: inline-block;
  margin-right: 12px;
}

.review-content-input-wrapper{
  position: relative;
}

.review-content-input-wrapper label {
  position: absolute;
  top: 8px;
  left: 8px;
}

textarea {
  width: 645px;
  height: 198px;
  color: #A6A6A6;
  display: inline-block;
  background-color: transparent;
  margin-left: 64px;
  padding: 16px;
  resize: none;
}

label {
  /* margin-right: 24px; */
}

.review-popup-input {
  padding-top: 16px;

}


.review-title-input-wrapper input {
  width: 645px;
  height: 32px;
  margin-bottom: 12px;
  margin-left: 12px;
  margin-right: 12px;
  display: inline-block;
  color:#898989;
  padding: 9px 20px;
  background-color: transparent;
}

/* 후기작성 팝업 버튼 */
.review-popup-button-wrapper {
  width: 729px;
  height: 74px;
  text-align: center;
  padding-top: 20px;
  border-top: #E1E1E1 1px solid;
  gap: 12px;
}

.btn-cancel {
  color: #333333;
  font-weight: 600;
  font-size: 16px;
  width: 186px;
  height: 54px;
  border: 1px solid #C4C4C4;
  border-radius: 4px;
  margin-right: 6px;
}

.btn-submit {
  font-size: 16px;
  width: 186px;
  height: 54px;
  color: #FFFFFF;
  font-weight: 600;
  background: #E1E1E1;
  border-radius: 4px;
  margin-left: 6px;
  
}

.text-limit {
  position: relative;
  right: 40px;
  bottom: 20px;
  color: #A6A6A6;
  font-size: small;
  text-align: right;
}

input[type=checkbox] {
  display:none;
}
input[type=checkbox] + label { 
  cursor: pointer; 
  padding-left: 30px; 
  background-repeat: no-repeat;
  background: transparent no-repeat url('../assets/icons/list/none_checked.svg') left / 24px;
  height: 30px;
}
input[type=checkbox]:checked + label {
  height: 30px;
  background: transparent no-repeat url('../assets/icons/list/none_checked.svg') left / 24px;
}

.secret-checkbox {  
  height : 58px;
}

.folded {
  display: none;
  overflow: hidden;
}

.active {

}