body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.productDetail_main {
  width: 1050px;
  margin-left: auto;
  margin-right: auto;
  /* background-color: bisque; */
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}

.product_image {
  width: 400px;
  height: 514px;
}

.product_information {
  width: 560px;
  /* background-color: yellow; */
}

.main_information {
  /* background-color: skyblue; */
  padding-bottom: 20px;
}

.type_of_delivery {
  width: 74px;
  height: 30px;
  font-style:normal;
  font-weight: 700;
  font-size: 21.328px;
  line-height: 140%;
  color: #6B6B6B;
  background-color: white;
}

.selected_product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap:4px;
  width: 296px;
  height: 73px;
  background-color: white;
  margin-top: 16px;
}

.product_name {
  width: 296px;
  height: 43px;
  font-style:normal;
  font-weight: 600;
  font-size: 28.43px;
  line-height: 150%;
  color: #333333;
}

.product_short_description {
  width: 182px;
  height: 26px;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: #898989;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  width: 98px;
  height: 43px;
  padding: 0px;
  margin-top: 16px;
  /* background-color: pink; */
}

.number {
  line-height: 150%;
  font-size: 28.43px;
  color: #333333;
  font-weight: 600;
  width: 80px;
  height: 43px;
}

.unit {
  color: #333333;
  font-size: 16px;
  line-height: 140%;
  font-weight: 700;
  width: 14px;
  height: 22px;
}

.point_benefits_information {
  color: #5F0080;
  width: 218px;
  height: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  margin-top: 16px;
  background-color: white;
}

.sub_information {
  /* background-color: orange; */
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: #6B6B6B;
}

.condition_of_morning_delivery {
  margin-top: 4px;
  color: #898989;
}

.sub_information dl, .buy dl {
  border-top: 1px solid #E1E1E1;
  padding: 16px 0px;
  display: flex;
}

.sub_information dl dt {
  width: 128px;
  height: 26px;
}

.material_information {
  font-weight: 400;
  color: #6B6B6B;
  width: 432px;
}

.buy {
  background-color: white;
}

.number_of_product {
  padding: 3px 8px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  /* background-color: aqua; */
  height: 24px;
  /* display: inline-block; */
}

.buy button {
  border: 0;
  background-color: transparent;
  width: 30px;
  height: 30px;
  /* background-color: #5F0080; */
  /* display:inline-block; */
  padding: 0;
}

.calc_price {
  /* border: 1px solid #C4C4C4;     */
  width: 400px;
  /* padding-top: 12px; */
  /* background-color: white; */
  font-size: 12px;
}

.total_price {
  font-weight: 600;
  font-size: 12.003px;
  line-height: 150%;
  color: #333333;
  height: 18px;
  position: absolute;
  right: 12px;
  bottom: 12px;

}

.dl_product_choose {
  /* background-color: skyblue; */
  border-bottom: 1px solid #E1E1E1;
}

/* .minus_amount svg {
  background-color: pink;
}
.plus_amount svg{
  background-color: pink;
} */