h2.title {
  text-align: center;
  padding: 48px 0;
  font-size: 22px;
}

/* -------------------------------------------------------------------------- */
/*                                     nav                                    */
/* -------------------------------------------------------------------------- */
.product_inner {
  display: flex;
  flex-direction: row;
}
.navigator {
  width: 267px;
  padding-right: 47px;
  /* height: 60rem; */
  /* position: static; */
}

.filter_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 0.0625rem solid var(--gray-100);
}

.filter_title {
  font-size: 16px;
}

.reset_button {
  background-color: transparent;
  font-weight: 600;
  color: #757575;
}

button.toggle_button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  border-bottom: 0.0625rem solid var(--gray-100);
  transition: 0.6s;
}

.toggle_button img {
  width: 18px;
  height: 18px;
  transition: 0.4s;
}

.list_wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.list_wrapper .list_title:hover {
  color: var(--purple);
}

.active {
  transform: rotate(180deg);
}

.category_list {
  padding: 16px 0;
  display: flex;
  align-items: center;
}

.check_button {
  background: url(../assets/icons/list/none_checked.svg) no-repeat;
  width: 24px;
  height: 24px;
  text-indent: -624.9375rem;
}

.none_button {
  background: url(../assets/icons/list/checked.svg) no-repeat;
}

.list_title {
  margin-left: 10px;
}

.list_counter {
  font-size: 12px;
  color: #757575;
  margin-left: 8px;
}

.more_button {
  width: 100%;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
}

.more_button img {
  width: 1.125rem;
  height: 1.125rem;
}

/* -------------------------------------------------------------------------- */
/*                                product_list                                */
/* -------------------------------------------------------------------------- */
.product_list {
  width: 48.9375rem;
}

.tab_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.25rem;
}

.tab_menu .order_list {
  width: 27.8125rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: red; */
}

.recommendation {
  width: 3.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.des_icon .description {
  position: absolute;
  width: 16.875rem;
  top: 1.875rem;
  left: 0;
  background-color: var(--white);
  padding: 0.875rem;
  font-size: 0.75rem;
  line-height: 1rem;
  border: 0.0625rem solid var(--gray-300);
  border-radius: 0.1875rem;
  display: none;
  z-index: 1;
}

.des_icon:hover .description {
  display: block;
}

.orders {
  color: #757575;
  position: relative;
}

.orders::after {
  content: "";
  width: 0.0625rem;
  height: 0.8125rem;
  background-color: #757575;
  position: absolute;
  top: 0.1875rem;
  left: -0.5625rem;
}

.product_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product_content {
  width: 15.625rem;
  margin-bottom: 2.5rem;
  position: relative;
}

.product_box img {
  width: 15.625rem;
  height: 20rem;
}

.text_box > a {
  display: flex;
  flex-direction: column;
}

.cart_icon {
  background-color: transparent;
  position: absolute;
  top: 16.25rem;
  right: 0.9375rem;
}

.cart_icon img {
  width: 2.8125rem;
  height: 2.8125rem;
}

.product_delivery {
  padding: 1rem 0;
  font-size: 0.75rem;
  font-weight: 600;
  color: #757575;
}

.product_price {
  margin: 1rem 0;
  font-size: 1.375rem;
  font-weight: 600;
}

.text_box .cost {
  color: #757575;
  text-decoration: line-through;
  margin-bottom: 0.625rem;
}

.product_price .discount {
  color: #db3b06;
  margin-right: 0.5rem;
}

.product_description {
  font-size: 0.75rem;
  color: #757575;
  margin-bottom: 0.625rem;
}

.badges {
  width: 7.75rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.75rem;
  font-weight: 600;
}

.karly_badge {
  width: 4.0625rem;
  height: 1.625rem;
  line-height: 1.625rem;
  background: var(--gray-100);
  border-radius: 0.25rem;
  text-align: center;
  color: var(--purple);
}

.limit_badge {
  width: 3.125rem;
  height: 1.625rem;
  line-height: 1.625rem;
  background: var(--gray-100);
  border-radius: 0.25rem;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                 pagination                                 */
/* -------------------------------------------------------------------------- */
.pagination_wrap {
  margin: 3.75rem 0 5rem 0;
}
.pagination {
  width: 14.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.pagination > a {
  width: 2.125rem;
  height: 2.125rem;
  outline: 0.0625rem solid var(--gray-300);
  text-align: center;
  line-height: 2.125rem;
}

.pagination > a img {
  display: block;
  width: 0.625rem;
  height: 0.625rem;
  margin: 0.75rem auto;
}

.pagination a:hover {
  background: var(--gray-100);
}
