h2.title {
  text-align: center;
  padding: 48px 0;
  font-size: 22px;
}

/* -------------------------------------------------------------------------- */
/*                                     nav                                    */
/* -------------------------------------------------------------------------- */
.product_inner {
  display: flex;
  flex-direction: row;
}
.navigator {
  width: 267px;
  padding-right: 47px;
  /* height: 960px; */
  /* position: static; */
}

.filter_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid var(--gray-100);
}

.filter_title {
  font-size: 16px;
}

.reset_button {
  background-color: transparent;
  font-weight: 600;
  color: #757575;
}

button.toggle_button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 14px 0;
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid var(--gray-100);
  transition: 0.6s;
}

.toggle_button img {
  width: 18px;
  height: 18px;
  transition: 0.4s;
}

.list_wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}

.list_wrapper .list_title:hover {
  color: var(--purple);
}

.active {
  transform: rotate(180deg);
}

.category_list {
  padding: 16px 0;
  display: flex;
  align-items: center;
}

.check_button {
  background: url(../assets/icons/list/none_checked.svg) no-repeat;
  width: 24px;
  height: 24px;
  text-indent: -9999px;
}

.none_button {
  background: url(../assets/icons/list/checked.svg) no-repeat;
}

.list_title {
  margin-left: 10px;
}

.list_counter {
  font-size: 12px;
  color: #757575;
  margin-left: 8px;
}

.more_button {
  width: 100%;
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #757575;
}

.more_button img {
  width: 18px;
  height: 18px;
}

/* -------------------------------------------------------------------------- */
/*                                product_list                                */
/* -------------------------------------------------------------------------- */
.product_list {
  width: 783px;
}

.tab_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 20px;
}

.tab_menu .order_list {
  width: 445px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: red; */
}

.recommendation {
  width: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

.des_icon .description {
  position: absolute;
  width: 270px;
  top: 30px;
  left: 0;
  background-color: var(--white);
  padding: 14px;
  font-size: 12px;
  line-height: 16px;
  border: 1px solid var(--gray-300);
  border-radius: 3px;
  display: none;
  z-index: 1;
}

.des_icon:hover .description {
  display: block;
}

.orders {
  color: #757575;
  position: relative;
}

.orders::after {
  content: "";
  width: 1px;
  height: 13px;
  background-color: #757575;
  position: absolute;
  top: 3px;
  left: -9px;
}

.product_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product_content {
  width: 250px;
  margin-bottom: 40px;
  position: relative;
}

.product_box img {
  width: 250px;
  height: 320px;
}

.text_box > a {
  display: flex;
  flex-direction: column;
}

.cart_icon {
  background-color: transparent;
  position: absolute;
  top: 260px;
  right: 15px;
}

.cart_icon img {
  width: 45px;
  height: 45px;
}

.product_delivery {
  padding: 16px 0;
  font-size: 12px;
  font-weight: 600;
  color: #757575;
}

.product_price {
  margin: 16px 0;
  font-size: 22px;
  font-weight: 600;
}

.text_box .cost {
  color: #757575;
  text-decoration: line-through;
  margin-bottom: 10px;
}

.product_price .discount {
  color: #db3b06;
  margin-right: 8px;
}

.product_description {
  font-size: 12px;
  color: #757575;
  margin-bottom: 10px;
}

.badges {
  width: 124px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 600;
}

.karly_badge {
  width: 65px;
  height: 26px;
  line-height: 26px;
  background: var(--gray-100);
  border-radius: 4px;
  text-align: center;
  color: var(--purple);
}

.limit_badge {
  width: 50px;
  height: 26px;
  line-height: 26px;
  background: var(--gray-100);
  border-radius: 4px;
  text-align: center;
}

/* -------------------------------------------------------------------------- */
/*                                 pagination                                 */
/* -------------------------------------------------------------------------- */
.pagination_wrap {
  margin: 60px 0 80px 0;
}
.pagination {
  width: 232px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

.pagination > a {
  width: 34px;
  height: 34px;
  outline: 1px solid var(--gray-300);
  text-align: center;
  line-height: 34px;
}

.pagination > a img {
  display: block;
  width: 10px;
  height: 10px;
  margin: 12px auto;
}

.pagination a:hover {
  background: var(--gray-100);
}
