.register_container {
  width: 640px;
  margin: 0 auto;
}

.register_wrap {
  margin-top: 80px;
}

.register_box {
  padding-bottom: 20px;
  border-bottom: 2px solid var(--black);
}

.register_title {
  display: block;
  text-align: center;
  font-size: 21px;
  font-weight: 600;
  color: var(--black);
}

.register_essential {
  display: block;
  text-align: right;
  font-size: 12px;
  font-weight: 600;
  color: var(--content);
  padding: 0 4px 12px 0;
  border-bottom: 2px solid var(--black);
}

.register_essential::before {
  content: "*";
  position: absolute;
  color: var(--info-error);
  margin: -6px 0 0 -9px;
}

.register {
  width: 100%;
  display: flow-root;
  margin-top: 40px;
}

.register.register_id {
  margin-top: 0;
}

.register.recommend, .register.event {
  margin-top: 10px;
}

.register.recommend.none, .register.event.none {
  display: none;
}

.register form {
  width: 333px;
  float: left;
  margin-left: 8px;
}

.register_id {
  padding-top: 20px;
}

.register_kind, .register_overlap {
  float: left;
  line-height: 44px;
}

.register_kind {
  width: 139px;
  height: 44px;
  font-size: 16px;
  font-weight: 600;
  color: var(--content);
  padding-left: 8px;
}

.register_kind.essential::after {
  content: "*";
  position: absolute;
  color: var(--info-error);
  margin: -5px 0 0 2px;
}

.register_common {
  width: 100%;
  height: 44px;
  padding: 9px 20px;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 400;
}

.register_common::placeholder {
  font-size: 16px;
  font-weight: 400;
}

.register_overlap {
  display: block;
  width: 143px;
  height: 44px;
  margin-left: 8px;
  color: var(--purple) !important;
  border: 1px solid var(--purple) !important;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}

.register_overlap:disabled {
  color: var(--gray-none) !important;
  border: 1px solid var(--gray-none) !important;
}


.address_wrap {
  width: 333px;
  margin-left: 8px;
  float: left;
}

.address_wrap.none {
  display: none;
}

.address_detail.none {
  display: none;
}

.register_notice{
  margin-top: 7px;
  font-size: 12px;
  font-weight: 400;
  color: var(--black);
}

.event_information {
  line-height: 18px;
}

.address_button {
  width: 100%;
  height: 44px;
  border: 1px solid var(--purple);
  border-radius: 4px;
  color: var(--purple);
  font-size: 16px;
  font-weight: 600;
}

.address_input {
  margin-top: 12px;
}

.register_input {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 44px;
}

.register_validation {
  display: none;
}

.register_validation.is_active, .register_validation.essential {
  display:block;
  font-size: 16px;
  color: var(--info-error) !important;
  padding-top: 4px;
}

.check_label {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.check_common {
  font-size: 16px;
  font-weight: 600;
  color: var(--content);
}

.check_common:checked + .input_checked{
  background-color: var(--purple);
  border: none;
}

.check_common:checked + .input_checked > .input_inner {
  background-color: var(--gray-200);
}

.input_checked {
  font-size: 16px;
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
  position: relative;
  border-radius: 50%;
  border: 1px solid var(--gray-200);
}

.input_inner {
  width: 10px;
  height: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--white);
}

.input_label {
  position: relative;
  margin-left: 12px;
  font-size: 16px;
  font-weight: 600;
  color: var(--content);
}


.birth_input {
  width: 333px;
  height: 44px;
  border: 1px solid var(--gray-300);
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 9px 92px;
}

.birth_input input:focus{
  border: none !important;
}

.birth_common {
  width: 50px;
  border: none;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
}

.birth_common::placeholder {
  color: var(--gray-400);
}

.terms_wrap {
  display: flow-root;
  padding: 20px 0 40px;
  border-bottom: 1px solid var(--gray-200);
}

.terms_title {
  float: left;
  padding-left: 8px;
}

.terms_list {
  width: 429px;
  margin-left: 8px;
  float: left;
}

.terms_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}

.terms_box:first-child {
  flex-direction: column;
  align-items: flex-start;
}

.terms_box:first-child {
  margin-top: 0;
}

.terms_all, .terms_check {
  display: inline-block;
}

.terms_common {
  vertical-align: middle;
  display: none;
}

.terms_common:checked + .terms_checkbox {
  background-image: url("../assets/icons/Icon/checkbox_checked.png");
}

.terms_checkbox {
  display: inline-block;
  width: 24px;
  height: 24px;
  background: transparent url("../assets/icons/Icon/checkbox.png") center / 24px no-repeat;
  vertical-align: middle;
}

.terms_text {
  margin-left: 8px;
  vertical-align: middle;
  font-size: 16px;
  font-weight: 400;
  color: var(--content);
}

.terms_text.all {
  font-size: 21px;
  font-weight: 600;
}

.terms_notice {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-400);
  padding: 9px 0 0 32px;
}

.terms_link{
  font-size: 12px;
  font-weight: 400;
  color: var(--purple);
  height: 24px;
  line-height: 26px;
}

.register_button {
  height: 134px;
  position: relative;
}

#register_submit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  height: 54px;
  background-color: var(--purple);
  color: var(--white) !important;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 600;
}

#register_submit:disabled {
  color: var(--gray-none) !important;
  border: 1px solid var(--gray-none) !important;
  background-color: var(--white);
}