@import url(./color.css);
@import url(./font.css);
@import url(./a11y.css);
@import url(./reset.css);
@import url(./margin.css);
@import url(./padding.css);

.container {
  width: 1050px;
  margin: 0 auto;
}

.bar {
  width: 1px;
  height: 13px;
  background-color: var(--gray-bar);
  margin: 0 12px;
}

.is_active {
  color: var(--purple) !important;
}

.popup_wrap {
  width: 100%;
  text-align: center;
  background-color: var(--purple);
}

.popup {
  position: relative;
  line-height: 50px;
}

.popup_text {
  color: var(--white);
  font-size: 16px;
}

.popup_close_btn {
  background: transparent;
  width: 42px;
  height: 42px;
  position: absolute;
  top: 4px;
  right: 0;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.popup_close_img {
  width: 100%;
}

.top_btn {
  margin-top: 12px;
}

.top_btn_list{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

.top_btn li {
  font-size: 12px;
}

.top_btn li:first-child {
  margin-left: 0;
}

.btn_register a, .btn_login a, .btn_cs > a {
  padding: 6px 0;
}

.btn_register {
  color: var(--purple);
}

.btn_cs {
  position: relative;
}

.btn_cs:hover .cs_list {
  display: block;
}

.btn_cs > a {
  padding-left: 12px !important;
}

.btn_cs a img {
  width: 8px;
  height: 6px;
  margin: 0px 0px 1px 2px;
}

.cs_list {
  display: none;
  position: absolute;
  width: 100px;
  right: 0;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  top: 20px;
  padding: 8px;
  background: var(--white);
  z-index: 1;
}

.cs_list li {
  margin-bottom: 8px;
  padding: 0;
  font-size: 14px;
}

.cs_list li:last-child {
  margin-bottom: 0;
}

.header_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  margin-top: 32px;
  height: 60px;
}

.logo_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  left: 0;
}

.logo_wrap a img {
  width: 82px;
  height: 42px;
  margin-right: 12px;
}

.logo_wrap a {
  font-size: 21px;
  font-weight: 600;
  color: var(--gray-400);
}

.beauty_part::after {
  content: "";
  position: absolute;
  top: 0px;
  margin-left: 6px;
  width: 8px;
  height: 8px;
  background: transparent url("../assets/icons/Icon/new.png") center / 8px no-repeat;
}

.search {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

.searchForm_group {
  width: 400px;
}

.formInput {
  position: relative;
  width: 100%;
  height: 60px;
  padding: 13px 20px;
  border: 1px solid var(--purple);
  border-radius: 4px;
}

.formInput input {
  width: 300px;
  height: 34px;
  border: none;
  padding: 0;
  font-size: 21px;
}

.formInput input[type="search"]::placeholder {
  color: var(--gray-400);
  font-size: 21px;
  height: 100%;
  font-weight: 400;
}

.formInput input:focus {
  outline: none;
}

.formInput button {
  position: absolute;
  top: 19px;
  right: 20px;
  width: 20px;
  height: 20px;
  background: transparent url("../assets/icons/Icon/search.png") center / cover no-repeat;
}

.icon {
  position: absolute;
  right: 0;
}

.icon button{
  width: 36px;
  height: 36px;
}

.icon_location {
  background: transparent url("../assets/icons/Icon/location.png") center / 36px no-repeat;
}

.icon_location:hover {
  background-image: url("../assets/icons/Icon/location_hover.png");
}

.icon_heart {
  background: transparent url("../assets/icons/Icon/heart.png") center / 36px no-repeat;
  margin: 0 20px;
}

.icon_heart:hover {
  background-image: url("../assets/icons/Icon/heart_hover.png");
}

.icon_cart {
  background: transparent url("../assets/icons/Icon/cart.png") center / 36px no-repeat;
}

.icon_cart:hover {
  background-image: url("../assets/icons/Icon/cart_hover.png");
}

.category_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  margin-top: 24px;
}

.category {
  width: 247px;
  position: relative;
}

.category a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative;
  color: var(--content);
  font-size: 16px;
  font-weight: 600;
}

.category ul {
  display: none;
  position: absolute;
  width: 84px;
  padding-top: 30px;
}

.category:hover ul {
  display: block;
}

.category li {
  width: 247px;
  height: 40px;
  background-color: var(--white);
  color: var(--content);
  display: flex;
  align-items: center;
  padding: 8px 0px 8px 12px;
}

.category li:hover a{
  color: var(--purple);
}

.category li a img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.burger_wrap {
  position: relative;
  width: 16px;
  height: 14px;
  margin-right: 12px;
  top: -2px;
}

.burger {
  display: block;
  width: 100%;
  height: 2px;
  background: var(--content);
  margin-bottom: 5px;
}

.burger:last-child {
  margin-bottom: 0;
}

.keyworld {
  width: 600px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.keyworld a {
  width: 150px;
  text-align: center;
  padding: 8px 0;
  color: var(--content);
  font-size: 16px;
  font-weight: 600;
}

.delivery {
  position: absolute;
  right: 0;
  padding: 4px 8px;
  border: 1px solid var(--gray-300);
  border-radius: 16px;
}

.delivery a {
  font-size: 12px;
  font-weight: 400;
  line-height: 19px;
}

.delivery a span {
  color: var(--purple);
}

footer {
  padding-top: 28px;
}

.consumer_wrap {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.consumer_title {
  font-size: 21px;
  font-weight: 700;
  color: var(--content);
}

.consumer_number {
  font-size: 38px;
  font-weight: 700;
  color: var(--content);
  margin-top: 16px;
}

.consumer_time {
  font-size: 16px;
  font-weight: 600;
  color: var(--content);
  vertical-align: middle;
}

.question_wrap {
  display: flex;
  flex-direction: column;
}

.question_kakao, .question_oneOnOne, .question_lot {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.question_btn {
  width: 140px;
  height: 40px;
  margin-right: 16px;
  border: 1px solid var(--gray-200);
  font-size: 16px;
  font-weight: 400;
  color: var(--content);
}

.question_text {
  font-size: 16px;
  font-weight: 400;
  color: var(--content);
}

.question_text .second {
  margin-top: 2px;
}

.question_email {
  margin-top: 16px;
  font-size: 12px;
  font-weight: 400;
  color: var(--content);
}

.question_email a {
  color: var(--purple);
}

.company ul {
  display: flex;
  width: 100%;
}

.company ul li {
  margin-left: 14px;
  font-size: 16px;
  font-weight: 400;
  color: var(--content);
}

.company ul li:first-child {
  margin-left: 0;
}

.company_introduce {
  margin-top: 28px;
}

.company_introduce p {
  font-size: 12px;
  font-weight: 400;
  color: var(--content);
  margin-top: 5px;
}

.company_introduce p:first-child {
  margin-top: 0;
}

.company_introduce p a {
  color: var(--purple);
}

.company_sns {
  margin-top: 28px;
}

.sns_btn {
  width: 30px;
  height: 30px;
  margin-left: 20px;
}

.sns_btn:first-child {
  margin-left: 0;
}

.sns_btn a img{
  width: 100%;
}

.alliance {
  padding: 24px 0 32px;
  border-top: 1px solid var(--gray-100);
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
}

.alliance button {
  display: flex;
  text-align: left;
  width: 100%;
}

.alliance button p {
  font-size: 10px;
  font-weight: 400;
  color: var(--content);
  word-break: break-all;
}

.isms_btn img, .eprivacy_btn img, .wooribank_btn img {
  width: 34px;
  height: 34px;
  margin-right: 8px;
}

.payment_btn img{
  width: 102px;
  height: 32px;
  margin-right: 8px;
}

.copyright {
  width: 100%;
  height: 108px;
  background: var(--gray-50);
  text-align: center;
  padding-top: 20px;
  font-size: 10px;
  font-weight: 400;
  color: var(--gray-400);
}

.copyright .second {
  margin-top: 4px;
}

.copyright_text {
  margin-top: 8px;
}